/* Media.css */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1024px) {
  .page-wrapper, .header, .header__menu-nav {
    width: 100%; }
  .center {
    width: 100%; }
    .center__slogan {
      margin-top: 10px; }
  .header__menu-text {
    margin-top: 50px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .center__search-input {
    font-size: 14px; }
  .center__buttons {
    padding-left: 10px; }
  .center__buttons-submit {
    width: 80px;
    height: 80px;
    font-size: 12px; }
    .center__buttons-submit:hover:after {
      display: none; }
    .center__buttons-submit:active {
      background: transparent;
      color: #fff; }
      .center__buttons-submit:active:after {
        display: none; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
