html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

html {
  position: relative;
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  width: 100%;
  background: #fff;
  font-family: 'Arial'; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  margin: 0 auto; }

.header {
  width: 100%;
  text-align: center;
  color: #fff;
  overflow: auto;
  min-height: 400px;
  background: #000 url("../img/logo.png") center top no-repeat; }

.header__headliner {
  font-size: 1.125em;
  margin-top: 237px; }

.header__button {
  margin-top: 12px;
  font-size: 2.125em;
  font-weight: bold;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#00e6f5), color-stop(42%, #00aede), color-stop(77%, #00aede));
  background: -webkit-linear-gradient(top, #00e6f5 0%, #00aede 42%, #00aede 77%);
  background: linear-gradient(to bottom, #00e6f5 0%, #00aede 42%, #00aede 77%);
  -webkit-border-radius: 7px;
          border-radius: 7px;
  text-shadow: 1px 1px 2px black;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: 0px 0px 15px white;
          box-shadow: 0px 0px 15px white; }
  .header__button:hover {
    cursor: pointer; }

.header__price {
  margin-top: 15px;
  font-size: 1.125em;
  margin-bottom: 15px; }

.header__price-old {
  font-size: 1em;
  text-decoration: line-through; }

.header__price-new {
  color: #ffaf00;
  font-weight: bold; }

.content {
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 20px 15px 75px 15px;
  min-height: auto; }

.content__item {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-right: 10px;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding-top: 7px;
  min-height: 360px; }
  .content__item:last-child {
    margin-right: 0; }

.content__item-headliner {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px; }

.content__item-text {
  font-size: 0.875em;
  padding-left: 10px;
  padding-right: 5px;
  text-align: left; }

.content__item-pic {
  position: relative;
  height: 140px; }

.content__item-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%; }

.footer {
  height: 115px;
  margin-top: -115px;
  background: #00698c;
  width: 100%;
  position: relative; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.empty {
  height: 115px; }
